# Oracle Cloud API configuration
OCI_USER_OCID=
OCI_TENANCY_OCID=
OCI_FINGERPRINT=
OCI_REGION=

# Discord Webhook configuration
DISCORD_WEBHOOK_URL=

# Minimum daily usage (in your currency) to trigger a notification
MIN_DAILY_USAGE=
# Maximum daily usage (in your currency) to trigger an alert
MAX_DAILY_USAGE=
# Currency symbol (e.g., $, €, £, ¥)
CURRENCY=
# Cron schedule (e.g., "0 * * * *" for every hour)
SUMMARY_SCHEDULE=
DAILY_LIMIT_SCHEDULE=